* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-size: 1.1em;
  line-height: 1.5;
  color: #222;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0.5em 0 2em 0;
  background-color: #c4cbd8;
  background-image: linear-gradient(165deg, #757F9A 0%, #D7DDE8 100%);
  background-repeat: no-repeat;
}

h1 {
  font-size: 56px;
  line-height: 1.15;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 1.5em;
  text-shadow: 0 1px 0 rgba(255, 255,255, 0.25);
}

main {
  width: 95%;
  margin: 0 auto;
}

ul {
  margin-top: 0;
  list-style-position: inside;
  padding-left: 0;
}

img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

section {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

section:last-of-type {
  border-bottom: none;
}

section a:hover {
  color: #09427b;
  text-decoration: underline;
}

section span {
  font-size: 0.85em;
  line-height: 1;
  float: right;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #074473;
}

h2 {
  font-size: 1.8em;
  line-height: 1;
  margin: 0 0 0.25em 0;
}

h2 + p {
  color: #828282;
  margin: 0 0 1.5em 0;
}

button {
  font-size: 1.15em;
  font-weight: bold;
  display: block;
  padding: 1em;
  color: #074473;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: auto;
  outline: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15)
}
button:hover {
  cursor: pointer;
}

/* MEDIA QUERIES */

@media (min-width: 568px) {
  main {
    width: 65%;
  }
  section {
    box-shadow: 0 2px 1px rgba(0,0,0,0.15)
  }
}


@media (min-width: 768px) {
  main {
    width: 70%;
    max-width: 900px;
  }  
  img {
    width: auto;
    float: left;
    margin-right: 20px;
  }  
  section {
    padding: 20px;
    margin-bottom: 35px;
    overflow: auto;
  }
}
